.ui-toolbar-view{

  > .toolbar{
    display: flex;
    justify-content: space-between;

    > .items{
      display: flex;
      align-items: stretch;
    }
  }

  > .content{
    flex-grow: 1;
    overflow: auto;
  }

  &.side-left, &.side-right{
    > .toolbar{
      flex-direction: column;
    }
  }

}