.ui-clickable.is-open{
    background-color: Highlight;
    color: HighlightText;
}

.ui-button-wrap.split:hover > .ui-button-split-part,
.ui-button-wrap.split:hover > .ui-button,
.ui-button:hover:not(.face-never),
.ui-button.is-open{
    background-color: Highlight;
    color: HighlightText;
}

.ui-menuitem.is-open,
.ui-menuitem.is-selected{
    background-color: Highlight;
    color: HighlightText;
}

.ui-menu-overlay {
    background-color: Window;
    color: WindowText;
    border: solid 1px #ddd;
}
